//
// Main View Styles
//

body {
    background-color: $color-dark;
}

#app {
    padding: $size-medium;
}

// ----- Clock Component
.clock {
    @extend %flex;
    @extend %justify-between;
    @extend %align-stretch;

    .current-time {
        //
    }
}

.post-clock {
    @extend %flex;
    @extend %justify-between;
    @extend %align-stretch;

    .weather,
    .commute {
        flex-basis: 50%;
    }
}

// ----- Weather Component
.weather {
    .flag {
        h2 {
            margin: 0;
        }
    }
}

// ----- Commute Component
.commute {
    text-align: right;
}

// ----- Message Component
.messages.section {
    height: 50vh;
    text-align: center;
}

// ----- Notification Component
.notifications {
    bottom: 0;
    position: absolute;
    max-width: 100vw;
}