<template>
    <div class="clock">
        <div class="current-time">
            <h1>{{ date.toLocaleTimeString("en-US", { hour: "2-digit", minute: "2-digit" }) }}</h1>
        </div>
        <!-- <div class="alarms">
            <h6>&#128718; 10:00am</h6>
            <h6>&#128718; 12:00pm</h6>
        </div> -->
    </div>
</template>

<script>
export default {
    data() {
        return {
            date: new Date()
        }
    }
}
</script>

<style>

</style>