<template>
    <div class="daily-message">
        <p v-if="this.horoscope.description">{{ this.horoscope.description }}</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            horoscope: ''
        }
    },
    created() {
        const options = {
            method: 'POST',
            headers: {
                'X-RapidAPI-Host': 'sameer-kumar-aztro-v1.p.rapidapi.com',
                'X-RapidAPI-Key': 'ea6c1a9a9cmsh2d84ca0cfb2e06cp1380acjsn7c05659fed32'
            }
        };

        fetch('https://sameer-kumar-aztro-v1.p.rapidapi.com/?sign=aquarius&day=today', options)
            .then(res => res.json())
            .then(data => this.horoscope = data)
            .catch(err => console.error(err));
    }
}
</script>

<style>

</style>