<template>
    <div class="notifications">
        <div class="notification">
            <div class="flag">
                <span class="icon">&#9823;</span>
                <p class="content">Angelica</p>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis tenetur eos.</p>
            </div>
        </div>
        <div class="notification">
            <div class="flag">
                <span class="icon">&#9823;</span>
                <p class="content">Twitter</p>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia corrupti numquam magnam sapiente.</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>