<template>
    <div class="weather">
        <div v-if="this.weather.current != undefined" class="centered flag">
            <div class="content">
                <h2>{{ Math.floor(this.weather.current.temp) }}&deg;</h2>
            </div>
            <div class="icon">
                <img :src="'http://openweathermap.org/img/wn/' + this.weather.current.weather[0].icon + '.png'"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            weather: {}
        }
    },
    created() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
                const url = 'https://api.openweathermap.org/data/3.0/onecall?lat=' + position.coords.latitude + '&lon=' + position.coords.longitude + '&appid=e3ddb28082dc35803f57253341beb89c&units=imperial'

                fetch(url)
                    .then((res) => res.json())
                    .then((data) => this.weather = data)
                    .catch((err) => console.log(err.message))
            })
        }
    }
}
</script>

<style>

</style>