<template>
  <ClockComponent/>
  <div class="post-clock">
    <WeatherComponent/>
    <CommuteComponent/>
  </div>
  <div class="centered messages section">
    <MessageComponent/>
  </div>
  <NotificationComponent/>
</template>

<script>
import ClockComponent from './components/ClockComponent.vue'
import WeatherComponent from './components/WeatherComponent.vue'
import CommuteComponent from './components/CommuteComponent.vue'
import MessageComponent from './components/MessageComponent.vue'
import NotificationComponent from './components/NotificationComponent.vue'

export default {
  name: 'App',
  components: {
    ClockComponent,
    WeatherComponent,
    CommuteComponent,
    MessageComponent,
    NotificationComponent
  }
}
</script>

<style lang="scss">
</style>
